@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1750px;
		min-width: 1400px;
	}

	.container.\37 5\25 {
		width: 1050px;
	}

	.container.\35 0\25 {
		width: 700px;
	}

	.container.\32 5\25 {
		width: 350px;
	}

	.container {
		width: 1400px;
	}


/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 40px 0 0 40px;
	}

	.row {
		margin: -40px 0 -1px -40px;
	}

	.row.uniform > * {
		padding: 40px 0 0 40px;
	}

	.row.uniform {
		margin: -40px 0 -1px -40px;
	}

	.row.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}


/* Basic */

	body {
		background: #fff;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 19pt;
		font-weight: 300;
		line-height: 1.75em;
		color: #888;
	}

		body.is-loading * {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	input, textarea, select {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 19pt;
		font-weight: 300;
		line-height: 1.75em;
		color: #888;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		color: #666;
		line-height: 1.5em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}

		h1 a strong, h2 a strong, h3 a strong, h4 a strong, h5 a strong, h6 a strong {
			color: #333;
		}

	h2 {
		font-size: 2em;
		letter-spacing: -1px;
	}

		h2.alt {
			color: #888;
			margin-bottom: 40px
		}

			h2.alt strong {
				color: #666;
			}
			#hoverButton:hover{
				border: 1px solid;
				padding:10px 5px;
			}

	h3 {
		font-size: 1.5em;
	}

	header {
		margin: 0 0 0 0;
	}

		header > p {
			margin: 1em 0 0 0;
		}

	footer {
		margin: 1em 0 0 0;
	}

	strong, b {
		font-weight: 300;
		color: #666;
	}

	em, i {
		font-style: italic;
	}

	a {
		text-decoration: none;
		color: inherit;
		border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
		-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		outline: 0;
	}

		a:hover {
			color: #9a73ae;
			border-bottom-color: rgba(255, 255, 255, 0);
		}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 2em;
	}

	br.clear {
		clear: both;
	}

/* Sections/Article */

	section, article {
		margin-bottom: 3em;
	}

		section > :last-child,
		section > .container, section:last-child, article > :last-child,
		article > .container, article:last-child {
			margin-bottom: 0;
		}

		.row > section, .row > article {
			margin-bottom: 0;
		}

/* Image */

	.image {
		display: inline-block;
		border: 0;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.avatar48 {
			 width: 78px;
    		height: 78px;
    		border-radius: 42px;
    		background-image: url(../img/moi.png);
    		background-repeat: no-repeat;
    		background-position: 0px -21px;
    		background-size: 100%;
		}

			.image.avatar48 img {
				 width: 78px;
    			height: 78px;
    			border-radius: 42px;
			}

		.image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
    		width: 80%;
    		margin: 0px 0px 2em 0px;
    		margin-left: 10%;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* List */

	ul.default {
		list-style: disc;
		padding-left: 1em;
	}

		ul.default li {
			padding-left: 0.5em;
		}

	ul.icons {
		cursor: default;
	}

		ul.icons li {
			display: inline-block;
		}

		ul.icons a {
			display: inline-block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			border: 0;
		}

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

/* Table */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
			text-align: left;
		}

			table.default tbody tr:nth-child(2n+2) {
				background: #f4f4f4;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				text-align: left;
				padding: 0.5em 1em 0.5em 1em;
				color: #fff;
				background: #222729 url("../img/overlay.png");
			}

			table.default thead {
				background: #444;
				color: #fff;
			}

			table.default tfoot {
				background: #eee;
			}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
  		color: #fff;
  		letter-spacing: 3px;
  		font-weight: lighter;
  		font-size: 14px;
  		border:none;
  		display: inline-block;
  		padding: 15px 20px;
  		z-index: 1;
 		 overflow: hidden;
 		 -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
 		transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
	}
		#buttonDesign{
			    padding-left: 40px;
    			padding-right: 40px;
		}
		#buttonDesign:before, #buttonDesign:after {
  			position: absolute;
  			content: "";
  			display: block;
		}
		#buttonDesign:before {
		  top: -120px;
		  left: 50px;
		  z-index: -1;
		  width: calc(100% + 230px);
		  height: 100px;
		  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
		  transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);
		  -webkit-transform: skew(73deg);
		          transform: skew(73deg);
		    background: #69517e;
    		opacity: 0.9;
		}
		#buttonDesign:after {
		 	top: 1px;
    		left: 1px;
		 	z-index: -2;
		  	width: calc(100% - 2px);
		  	height: calc(100% - 2px);
		  	border: 1px solid #fff;
		}
		#buttonDesign:hover:before {
		    left: -114px;
    		top: -18px;
		}

/* Item */

	.item {
		box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
		margin-bottom: 40px;
	}

		.item header {
			background: #fff;
			margin: 0;
			padding: 1em 0 1em 0;
			font-size: 0.8em;
		}

			.item header h3 {
				font-size: 1em;
			}

/* video */

@-webkit-keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* Add animation (Standard syntax) */
@keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* The aapaa's background */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Display the modal when targeted */
.modal:target {
  display: table;
}

/* The modal box */
.modal-dialog {
    margin-top: 100px;
    vertical-align: middle;
    height: 70%;
    width: 100%;
}

/* The modal's content */
.modal-dialog .modal-content {
  margin: auto;
  background-color: #f3f3f3;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px #777 solid;
  text-align: justify;
  width: 70%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Add animation */
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 0.5s;
}

/* The button used to close the modal */
.closebtn {
    text-decoration: none;
    float: left;
    width: 100%;
    height: 87%;
    position: absolute;
    right: 0px;
    left: 0px;
    top:8%;
    background-image: url(../img/cancel.png);
    background-repeat: no-repeat;
    background-position: 5% 0%;
    background-size: 5%;
}

#back{
    width: 30%;
    position: relative;
    left: 16%;
    top: 9px;
}

.container {
    padding: 2px 16px;
    height: 50px;
}

.container2 {
    padding: 6px 8px;
    height: 574px;
    width: 100%;
    overflow: scroll;
}


.none{
	text-decoration: none;
	 display: block;
    width: 22%;
    height: 59%;
    position: absolute;
    border-bottom:none;
}
.none2{
	text-decoration: none;
	 display: block;
    width: 22%;
    height: 53%;
    position: absolute;
    border-bottom:none;
}

.none3{
	text-decoration: none;
	 display: block;
    width: 22%;
    height: 53%;
    position: absolute;
    border-bottom:none;
}
.none4{
	text-decoration: none;
	 display: block;
    width: 22%;
    height: 53%;
    position: absolute;
    border-bottom:none;
}
.none5{
	text-decoration: none;
	 display: block;
    width: 22%;
    height: 53%;
    position: absolute;
    border-bottom:none;
}
.none6{
	text-decoration: none;
	 display: block;
    width: 22%;
    height: 53%;
    position: absolute;
    border-bottom:none;
}



.explication{
    background-color: #f3f3f3;
    width: 100%;
}

.explication h7{
    text-align: center;
    color: black;
    display: block;
    font-weight: 400;
    font-size: 20px;
}
.language{
    width: 100%;
    height: 100px;
}
.blockMiddle{
    width: 80%;
    height: 100%;
    margin-left: 10%;
}
    .blockMiddle2{
        width: 90%;
        height: 100%;
        margin-left: 5%;
    }
    .blockMiddle3{
        width: 100%;
        height: 100%;
        margin-left: 0%;
    }
#lBase{
    width: 32%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
}
#lBase2{
    width: 24%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
}
#lBase3{
    width: 19%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
}

    .l1{
        background-image: url(../img/html.png);
        background-size: 40%;
    }
    .l1b{
            background-image: url(../img/html.png);
            background-size: 45%;
    }

    .l2{
        background-image: url(../img/css.png);
        background-size: 28%;
        }
     .l2b{
            background-image: url(../img/css.png);
            background-size: 33%;
        }
    .l3{
        background-image: url(../img/node.png);
        background-size: 53%;
        }
    .l3b{
            background-image: url(../img/node.png);
            background-size: 58%;
        }
    .l4{
        background-image: url(../img/jQuery.png);
        background-size: 83%;
        }
     .l4b{
            background-image: url(../img/jQuery.png);
            background-size: 88%;
        }
    .l5{
        background-image: url(../img/cordova.png);
        background-size: 88%;
    }
    .l6{
        background-image: url(../img/mySql.png);
        background-size: 85%;
    }


/* contact3 */


.contact3{
	width:100%;
}
	#mailC{
		display: -webkit-inline-box;
    	float: left;
    	margin-left: 6%;
	}
	#number{
		display: -webkit-inline-box;
    	float: right;
    	margin-bottom: 0px;
    	margin-right: 10%;
	}
	#number:hover{
		color:#9a73ae;
	}


/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.icon > .label {
			display: none;
		}

/* Header */

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		background: #131215 url("../img/overlay.png");
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
		color: #fff;
		height: 100%;
		left: 0;
		overflow-y: auto;
		position: fixed;
		text-align: right;
		top: 0;
		width: 375px;
	}

		#header .top {
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
		}

		#header .bottom {
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			padding: 1.5em 0 0.75em 0;
		}

			#header .bottom > :last-child {
				margin-bottom: 0;
			}

		#header .icons {
			font-size: 0.8em;
			text-align: center;
		}

			#header .icons a {
				color: #41484c;
				-moz-transition: color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out;
			}

				#header .icons a:hover {
					color: #fff;
				}

	#logo {
		position: relative;
		margin: 1.75em 1.5em 1.5em 1.5em;
		min-height: 48px;
		cursor: default;
	}

		#logo h1 {
			position: relative;
			color: #fff;
			font-weight: 600;
			font-size: 1em;
			line-height: 1em;

		}

		#logo p {
			position: relative;
			display: block;
			font-size: 0.6em;
			color: rgba(255, 255, 255, 0.5);
			line-height: 1.25em;
			margin: 0.5em 0 0 0;
			margin-left: 67px;
			text-align: center;
		}

		#logo .sous{
			color: white;
    		margin-left: 0px;
    		text-align: -webkit-right;
		}

		#propo{
			color: white;
			font-size: 25px;
			display: block;
		}
        
.bigger{
      display:inline-block;
      width:100%;

}
       
        .bigger:hover{

            z-index: 2;
            -webkit-transition: all 400ms ease-in;
            -webkit-transform: scale(1.09);
            -ms-transition: all 400ms ease-in;
            -ms-transform: scale(1.09);   
            -moz-transition: all 400ms ease-in;
            -moz-transform: scale(1.09);
            transition: all 400ms ease-in;
            transform: scale(1.09);
            box-shadow: 0px 0px 100px #9A73AE;
            
        }

		#logo .image {
			position: absolute;
			left: 0;
			top: 0;
		}

	#nav ul {
		margin-bottom: 0;
	}

		#nav ul li a {
			display: block;
			padding: 0.5em 1.5em 0.5em 1.5em;
			color: rgba(255, 255, 255, 0.5);
			text-decoration: none;
			outline: 0;
			border: 0;
			-moz-transition: none;
			-webkit-transition: none;
			-ms-transition: none;
			transition: none;
		}

			#nav ul li a span {
				position: relative;
				display: block;
				font-size: 0.8em;
			}

				#nav ul li a span:before {
					position: absolute;
					left: 0;
					color: #41484c;
					text-align: center;
					width: 1.25em;
					line-height: 1.75em;
				}

			#nav ul li a.active {
				background: #0e0e0c;
				box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
				color: #fff;
				border-top: 1px solid;
				border-bottom: 1px solid;
    			border-color: #69517e;
    			font-size: 20px;
			}

				#nav ul li a.active span:before {
					color: #e27689;
				}




            /*-----------------------------------------------------------*/






            /*-------------------------------------------------------------*/

/* Main */

#top{
	height: 675px;

}
#about{
	height: 1380px;
}
#contact{
	 height: 320px;
}


	#main {
		margin-left: 375px;
	}

		#main > section {
			margin: 0;
			overflow: hidden;
			padding: 4em 0;
			box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
			text-align: center;
			background-image: url("../img/overlay.png");
		}

			#main > section.dark {
				color: #ddd;
				color: rgba(255, 255, 255, 0.75);
			}

				#main > section.dark h2, #main > section.dark h3, #main > section.dark h4, #main > section.dark h5, #main > section.dark h6 {
					color: inherit;
				}

				#main > section.dark strong {
					color: #fff;
					border-color: inherit;
				}

				#main > section.dark a {
					color: #fff;
					border-color: inherit;
				}

					#main > section.dark a:hover {
						border-bottom-color: rgba(255, 255, 255, 0);
					}

			#main > section.cover {
				padding: 6em 0;
				background-size: cover;
				background-position: center center;
			}

			#main > section.one {
				background-color: #81918E;
				background-image: url("../img/img4.png");
			}

			#main > section.two {
				background-color: #f5fafa;
			}

			#main > section.three {
				background-color: #ecf1f1;
			}

			#main > section.four {
				background-color: #e8edec;
			}

	#headerToggle {
		display: none;
	}





